/* Adding colors to different titles and subtitles */
h1.title {
    color:navy;
    text-align: center;
}

h2.subtitle {
    color:#d1139b;
}

h2.sub2{
    color:rgb(255, 99, 71);
}

h3.sub3{
    color:hsl(281, 71%, 33%);
}

h3#backlog {
    color: color(from hsl(249, 58%, 47%) xyz x y z);
}

h3#updates {
    color: color-mix(in srgb, #1a869e 100%, white);
}

* {
    margin: 10;
}

div {
    background-color: yellow;
}

:root {
    --blue: #0b2350;
    --brown: #b56310;
}

h3#actionitems{

    color: var(--brown, blue);
}

section.b1{
    max-width: 800px;
    height: 250px;
}

section.b2{
    width: 450pt;
}

section.b3{
    min-width: 100pc;
}

p.al {
    margin: 0;
    background-image: repeating-linear-gradient(
      to top,
      lightskyblue 0 2px,
      transparent 2px 1lh
    );
}

div.webfont {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3.ag {
    text-decoration-line: overline underline;
    text-decoration-color: purple;
    text-align: center;
}
section.comm {
    margin:auto
}

section.aud{
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 4em;
    padding: 0 30px 40px 4em;
    position: relative;
}

section.vid{
    border-color: rebeccapurple;
    border-width: 5px;
    border-style: solid;
    border-radius: 10pt;
    background-color: lightgray;
    margin: 40px 30px 40px 4em;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 4em;
}

ul.links {
    display: block;
    background-color: rgb(119, 237, 46);
    color: #ffffff;
    text-decoration: none;
    padding: 1em 2em;
    position: sticky;
}

ul.links a:hover {
    background-color: rgb(66 28 40);
    color: #ffffff;
}

ol.blg {
    display: inline-block;
    background-color: rgba(15, 248, 229, 0.68);
    color: #1a28a9;
    text-decoration: none;
    padding: 1em 2em;
}

footer.ft{
    position: relative;
}

ul.at{
  display: flex;
  
  flex-flow: row wrap;
  flex-basis: content;
  flex-grow: 4;
  column-gap: 1px;
  justify-content: space-evenly;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

li.flit {
  background: tomato;
  padding: 5px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.cm {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 80px 50px;
    grid-gap: 10px;
}

.cmc{
    background-color: #aecff2; 
    padding: 10px; 
    border: 2px solid #051447; 
    text-align: center; 
}
  